@{
    ViewData["Title"] = "Settings";
}
<div id="alert" class="alert alert-success alert-dismissible fade" role="alert">
    <span>Your changes have been saved successfuly! <a asp-action="Quiz">Click here</a> to go to the Quiz page</span>
</div>
<h1>@ViewData["Title"]</h1>

<div class="form-group">
    <input id="radioBinary" type="radio" value="binary" name="gameMode" checked onclick="SaveMode('binary')"/> 
    <label for="radioBinary">Binary(Yes/No)</label>
    <br />
    <input id="radioMultiple" type="radio" value="multiple" name="gameMode" onclick="SaveMode('multiple')"/> 
    <label for="radioMultiple">Multiple choice question</label>
</div>
